<!DOCTYPE html>
<html>
<body>

<h2>WMS</h2>

<form action="/method" method="POST">
  <label for="date">날짜</label>
  <input type="text" id="date" name="date" value="{{date}}"><br><br>
  <label for="warehouse_id">창고</label>
  <input type="text" id="warehouse_id" name="warehouse_id" value="{{warehouse_id}}"><br><br>
  <label for="name">제품명</label>
  <input type="text" id="name" value="{{name}}"><br><br>
  <label for="quantity">수량</label>
  <input type="text" id="quantity" name="quantity" value="{{quantity}}"><br><br>

  <input type="submit" value="확인">
  <input type="submit" value="취소">
</form> 

</body>
</html>